table {
    width: 100%;
    margin-top: 10px;
  }

th{
    width: 10%;
}

a{
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.example-spacer {
    flex: 1 1 auto;
}

.ancho{
    width: 50%;
    margin-right: 30px;
}